@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;

  --primary: #2563eb;
  --primary-foreground: #ffffff;

  --secondary: #e8f0ff;
  --secondary-foreground: #1e40af;

  --muted: #f1f5f9;
  --muted-foreground: #64748b;

  --accent: #3b82f6;
  --accent-foreground: #ffffff;

  --border: #e2e8f0;
  --card: #ffffff;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  --color-card: var(--card);
}

/* @media (prefers-color-scheme: dark) {
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Satoshi-Medium", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "CabinetGrotesk-ExtraBold", sans-serif;
}

@font-face {
  font-family: "Satoshi-Medium";
  src:
    url("/satoshi/Fonts/WEB/fonts/Satoshi-Medium.woff2") format("woff2"),
    url("/satoshi/Fonts/WEB/fonts/Satoshi-Medium.woff") format("woff"),
    url("/satoshi/Fonts/WEB/fonts/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGrotesk-Extrabold";
  src:
    url("/cabinet-grotesk/Fonts/WEB/fonts/CabinetGrotesk-Extrabold.woff2")
    format("woff2"),
    url("/cabinet-grotesk/Fonts/WEB/fonts/CabinetGrotesk-Extrabold.woff")
    format("woff"),
    url("/cabinet-grotesk/Fonts/WEB/fonts/CabinetGrotesk-Extrabold.ttf")
    format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
